<ion-header>

  <ion-toolbar color="tertiary">

    <ion-button fill="clear" [routerLink]="['/home']" id="boton">GDV</ion-button>

    <ion-buttons slot="start">

      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-buttons slot="end">

      <ion-button [routerLink]="['/pago']">

        <ion-label>Tarjetas y pagos</ion-label>

      </ion-button>

      <ion-button [routerLink]="['/direc']">

        <ion-label>Mi Direccion</ion-label>

      </ion-button>

      <ion-button [routerLink]="['/comunicacion']">

        <ion-label>Comunicacion</ion-label>

      </ion-button>

      <ion-button [routerLink]="['/seg']">

        <ion-label>Seguridad y Privacidad</ion-label>

      </ion-button>

      <ion-button [routerLink]="['/perfil']">

        <ion-label>Perfil</ion-label>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content>
  <div class="container content">
    <h2 class="ion-margin-top ion-margin-bottom">Seguridad y Privacidad</h2>
    <div class="ion-margin-top">
      <ion-item>
        <ion-label>No aparecer en las búsquedas</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cambiar Contraseña</ion-label>
        <ion-input type="password" id="contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" id="confirmar"></ion-input>
      </ion-item>
    </div>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button expand="full" color="primary">Guardar Cambios</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="medium">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>


<ion-footer>

  <ion-toolbar>

    <ion-title id="pie">GDV</ion-title>

    <ion-buttons slot="end">

      <ion-button id="pie">FAQ</ion-button>

      <ion-button id="pie">Informacion Fiscal</ion-button>

      <ion-button id="pie">Ayuda</ion-button>

      <ion-button id="pie">Privacidad</ion-button>

      <ion-button id="pie">Defensa al consumidor</ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-footer>
